.App {
  text-align: center;
}

.total {
  font-size: 30px;
}

.total-value {
  color: #f52e74;
}

.table-token-list {
  max-width: 1162px;
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}

.table-token-list tr td,
.table-token-list tr th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-token-list tr .none-border {
  padding-top: 20;
  border-bottom: none;
  text-align: center;
}